<div class='card'>

  <div class='card-header'>
    {{ pageTitle }}
  </div>

  <div class='card-body'>

    <div class='table-responsive'>
      <table class='table' *ngIf="products.length">
        <thead>
          <tr>
            <th>Product Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.productName}}</td>
            <td><button class="btn btn-dark" (click)="toggleLeads(product.productCode)">Show Leads</button></td>
            <table class='table' *ngIf="product.showLeads">
              <tr>
                <th>Lead Name</th>
                <th>Manager Name</th>
              </tr>
              <tr *ngFor="let lead of product.leads">
                <td>{{lead.leadName}}</td>
                <td>{{lead.managerName}}</td>
                <td>
                  <button class="btn btn-sm btn-dark" (click)="toggleIsUpdate(product.productCode, lead.id)">Edit</button>&nbsp;&nbsp;
                  <button class="btn btn-sm btn-dark" (click)="deleteLead(product.productCode, lead.id)">Delete</button>
                </td>
              </tr>
            </table>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class='card-body'>
    Lead Name: <input value="lead" [value]="nameOfLead" type="text" [(ngModel)]="nameOfLead"><br/>
    Manager Name: <select [(ngModel)]="nameOfManager" >
      <option  *ngFor="let mName of managers" [value]="mName">{{mName}}</option>
    </select><br/>
    Product: <select [(ngModel)]="code">
      <option *ngFor="let product of products" [value]="product.productCode">{{product.productName}}</option>
    </select><br/>
    <button class="btn btn-dark" (click)="updateLeads(code, nameOfLead, nameOfManager)">{{ isUpdate ? 'Update' : 'Add' }} Lead</button>
  </div>

</div>
